
# jinja template#

Created by Ansible

The Os family is {{ ansible_facts['os_family'] }}

The Operating system is {{ ansible_facts['distribution'] }}

The Os Version is {{ ansible_distribution_version }}